@import url(https://fonts.googleapis.com/css?family=Mr+Dafoe);
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:900);
@import url(https://fonts.googleapis.com/css?family=Righteous);
@import url(https://fonts.googleapis.com/css?family=Candal);
@import url(https://fonts.googleapis.com/css?family=Permanent+Marker);
@import url(https://fonts.googleapis.com/css?family=Monoton);

.inner-body-container {
  margin-top: 5%;
}

.hero-container {
  margin-top: 5%;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  /* object-fit: contain; */
  position:relative;
  background: rgba(0, 0, 0, 0.05);
}

/* .hero-container > h1 {
  color: #fff;
  font-size: 50px;
} */
 
h1{
  text-align: center;
  }

.hero-container > p {
  margin-top: 8px;
  color: #fff;
  font-size: 24px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
  'Lucida Sans', Arial, sans-serif;
  width:auto;
}

.hero-btns {
  margin-top: 32px;
}

.hero-btns .btn {
  margin: 6px;
}

.fa-play-circle {
  margin-left: 4px;
}

@media screen and (max-width: 960px) {
  .hero-container > h1 {
    font-size: 70px;
    margin-top: -150px;
    /* width: 75%; */
  }
}

@media screen and (max-width: 768px) {
  .hero-container > h1 {
    font-size: 50px;
    margin-top: -5%;
  }



  

  .hero-container > p {
    display: flexbox;
    margin-left: 0;
    margin-right: 0;
    margin-top: 20%;
    color: #fff;
    font-size: 25px;
    /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif; */
    width:100%;
  }
  
  .hero-container  {
    display: flexbox;
    margin-left: 0;
    margin-right: 0;
    margin-top: 8px;
    color: #fff;
    font-size: 25px;
    /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif; */
    width:100%;
  }

  .vectro-body {
    display: flex;
    margin: auto;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
    line-height: 40px;    
  }

  span .vectro-body {
    margin-top: 50%;
  }
}
